# Documentation
Sphinx>=7,<9
sphinx-rtd-theme
sphinx-bootstrap-theme
publish-doconce

# Notebook support
jupyter
ipywidgets
bash-kernel

# Scientific Python
numpy>=1.24
matplotlib
Pillow
lxml

# Utilities
requests
regex

# Testing
pytest>=7
